@font-face {
  font-family: "TT Norms";
  src: url("TTNorms-Medium.eot");
  src: url("TTNorms-Medium.eot?#iefix") format("embedded-opentype"), url("TTNorms-Medium.woff2") format("woff2"), url("TTNorms-Medium.woff") format("woff"), url("TTNorms-Medium.ttf") format("truetype"), url("TTNorms-Medium.svg#TTNorms-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "TT Norms";
  src: url("TTNorms-Regular.eot");
  src: url("TTNorms-Regular.eot?#iefix") format("embedded-opentype"), url("TTNorms-Regular.woff2") format("woff2"), url("TTNorms-Regular.woff") format("woff"), url("TTNorms-Regular.ttf") format("truetype"), url("TTNorms-Regular.svg#TTNorms-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "TT Norms";
  src: url("TTNorms-Bold.eot");
  src: url("TTNorms-Bold.eot?#iefix") format("embedded-opentype"), url("TTNorms-Bold.woff2") format("woff2"), url("TTNorms-Bold.woff") format("woff"), url("TTNorms-Bold.ttf") format("truetype"), url("TTNorms-Bold.svg#TTNorms-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
}

.wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.nav_position {
  justify-content: space-between;
  padding-top: 50px;
}

.title_position {
  justify-content: center;
  padding-top: 245px;
  padding-bottom: 488px;
}

.gradient_bg {
  background: url("../images/blur.png") repeat-x center bottom 200px, url("../images/symbol.png") no-repeat center bottom 200px, url("../images/pattern.svg") no-repeat center bottom 200px, linear-gradient(53deg, rgb(51, 51, 101) 75%, rgb(101, 62, 114) 100%);
}

.text_colour {
  color: white;
}
.text_colour a {
  color: white;
  font-size: 18px;
  font-weight: medium;
}

.first_nav_position {
  padding-left: 20px;
}

.localization {
  padding-left: 5px;
}
.localization a {
  font-size: 15px;
  font-weight: bold;
  padding: 5px;
}
.localization a:hover {
  border: 1px solid #F0145A;
  border-radius: 8px;
  background-color: #F0145A;
}

.last_nav {
  justify-content: flex-end;
}
.last_nav a {
  padding: 20px 0 0 15px;
}

.scroll {
  justify-content: center;
}

.title {
  text-align: center;
  font-size: 38px;
  font-weight: medium;
}

.add_for_facilities {
  justify-content: center;
  padding: 80px 0 80px 0;
}
.add_for_facilities h3, .add_for_facilities p {
  color: white;
}
.add_for_facilities h2 {
  color: grey;
}

.separator_position {
  padding: 0 40px 0 40px;
}

.right_add_position {
  flex-direction: column;
  justify-content: center;
}
.right_add_position p {
  padding-top: 20px;
  font-size: 21px;
  font-weight: 300;
}
.right_add_position h3 {
  font-size: 32px;
  font-weight: auto;
}

.left_add_position {
  flex-direction: column;
  justify-content: space-between;
  text-align: right;
}
.left_add_position :nth-child(1) {
  background-image: linear-gradient(53deg, rgb(239, 128, 128) 17%, rgb(240, 20, 90) 100%);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}
.left_add_position h2 {
  font-size: 42px;
  font-weight: auto;
}

.about_our_work {
  flex-direction: column;
  align-content: flex-start;
}
.about_our_work h3 {
  padding: 5px 0 68px 0;
  background-image: linear-gradient(53deg, rgb(239, 128, 128) 17%, rgb(240, 20, 90) 100%);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  font-size: 42px;
  font-weight: auto;
}
.about_our_work p, .about_our_work h4 {
  color: white;
}
.about_our_work p {
  color: gray;
  font-size: 18px;
  font-weight: 260;
}
.about_our_work h4 {
  font-size: 24px;
}

.pros_of_us {
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 0;
  padding-bottom: 70px;
}
.pros_of_us li img {
  border: 1px solid white;
  border-radius: 24px;
  background-color: white;
}
.pros_of_us li h4 {
  padding: 20px 0 15px 0;
  color: #278EE3;
}
.pros_of_us li p {
  padding-bottom: 20px;
  padding-right: 1px;
  color: white;
}

.reverse {
  background: linear-gradient(230deg, rgb(51, 51, 101) 79%, rgb(101, 62, 114) 100%);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.grey_line {
  background: #CACADB;
  border-radius: 0px 0px 12px 12px;
  padding: 0 0 10px 0;
}

.grey_line_cont {
  max-width: 1400px;
}

.white_line_cont {
  max-width: 1360px;
}

.white_line {
  padding: 0 0 10px 0;
  background: #E7E7F2;
  border-radius: 0px 0px 12px 12px;
}

.text_carousel_position {
  background-color: #F5F5FA;
  padding: 40px 324px 0 40px;
  border-radius: 12px;
  position: relative;
}
.text_carousel_position h3 {
  background-image: linear-gradient(53deg, rgb(239, 128, 128) 17%, rgb(240, 20, 90) 100%);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}
.text_carousel_position :nth-child(1) {
  color: #24A3FF;
  font-size: 14px;
}
.text_carousel_position :nth-child(4) {
  color: grey;
  font-size: 18px;
  font-weight: 400;
}
.text_carousel_position :nth-child(3) {
  color: grey;
  font-size: 16px;
  font-weight: 400;
}

.carousel-indicators [data-bs-target] {
  background-color: #278EE3;
  padding: 12px 0px;
  border-radius: 50%;
  position: absolute;
  margin-top: 20px;
}

.carousel-indicators [data-bs-target]:nth-child(1) {
  margin-left: -100px;
}

.carousel-indicators [data-bs-target]:nth-child(2) {
  margin-left: 0px;
}

.carousel-indicators [data-bs-target]:nth-child(3) {
  margin-left: 100px;
}

.carousel_top_position {
  padding-top: 45px;
  padding-bottom: 80px;
}

.main_ggrid_top {
  display: grid;
  grid-template-columns: 433px 433px 433px;
  grid-template-rows: 60px 200px;
  grid-column-gap: 2px;
  grid-row-gap: 2px;
}

.successful_projects {
  grid-area: 1/1/2/2;
  background-color: white;
  border-top-left-radius: 12px;
}
.successful_projects h3 {
  padding: 20px 0 20px 20px;
}
.successful_projects :nth-child(1) {
  background-image: linear-gradient(53deg, rgb(239, 128, 128) 17%, rgb(240, 20, 90) 100%);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}

.first_prjct {
  grid-area: 2/1/3/2;
  background-color: #eeeef3;
}
.first_prjct h5 {
  padding: 48px 0 20px 20px;
  color: #797995;
  font-size: 24px;
}
.first_prjct p {
  padding-left: 20px;
  font-size: 18px;
  color: #C3C3CA;
}

.second_prjct {
  grid-area: 1/2/2/3;
  background-color: #eeeef3;
}

.third_prjct {
  grid-area: 2/2/3/3;
  background-color: #eeeef3;
}
.third_prjct h5 {
  padding: 48px 0 20px 20px;
  color: #797995;
  font-size: 24px;
}
.third_prjct p {
  padding-left: 20px;
  font-size: 18px;
  color: #C3C3CA;
}

.fourth_prjct {
  grid-area: 1/3/2/4;
  background-color: #eeeef3;
  border-top-right-radius: 12px;
}

.fifth_prjct {
  grid-area: 2/3/3/4;
  background-color: #eeeef3;
}
.fifth_prjct h5 {
  padding: 48px 0 20px 20px;
  color: #797995;
  font-size: 24px;
}
.fifth_prjct p {
  padding-left: 20px;
  font-size: 18px;
  color: #C3C3CA;
}

.main_ggrid_down {
  display: grid;
  grid-template-columns: 320px 453px 527px;
  grid-template-rows: 200px;
  grid-column-gap: 2px;
  grid-row-gap: 2px;
}

.sixth_prjct {
  grid-area: 1/1/2/2;
  background-color: #eeeef3;
  border-bottom-left-radius: 12px;
}
.sixth_prjct h5 {
  padding: 20px 0 20px 20px;
  color: #797995;
  font-size: 24px;
}
.sixth_prjct p {
  padding-left: 20px;
  font-size: 18px;
  color: #C3C3CA;
}

.seventh_prjct {
  grid-area: 1/2/2/3;
  background-color: #eeeef3;
}
.seventh_prjct h5 {
  padding: 76px 0 20px 20px;
  color: #797995;
  font-size: 24px;
}
.seventh_prjct p {
  padding-left: 20px;
  font-size: 18px;
  color: #C3C3CA;
}

.eighth_prjct {
  grid-area: 1/3/2/4;
  background-color: #eeeef3;
  border-bottom-right-radius: 12px;
}
.eighth_prjct h5 {
  padding: 76px 0 20px 20px;
  color: #797995;
  font-size: 24px;
}
.eighth_prjct p {
  padding-left: 20px;
  font-size: 18px;
  color: #C3C3CA;
}

.progress_of_success {
  padding-bottom: 36px;
}

.companies_trust {
  padding: 30px;
  justify-content: center;
}
.companies_trust h5 {
  font-size: 18px;
}

.section_12img {
  flex-wrap: wrap;
}

.unusual_cont {
  max-width: 1464px;
}

.padd_top {
  padding-top: 40px;
}
.padd_top h3 {
  padding-bottom: 40px;
  font-size: 42px;
}
.padd_top :nth-child(1) {
  color: rgb(36, 163, 255);
  font-size: 14px;
  font-weight: 600;
}
.padd_top :nth-child(2) {
  background-image: linear-gradient(53deg, rgb(239, 128, 128) 17%, rgb(240, 20, 90) 100%);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}

.publications_gridLeft {
  display: grid;
  grid-template-columns: 413px;
  grid-template-rows: 250px 440px;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
}
.publications_gridLeft h5 {
  color: rgb(36, 163, 255);
}

.gridLeft_item {
  grid-area: 1/1/2/2;
  background-color: white;
}

.gridLeft_item_second {
  grid-area: 2/1/3/2;
  background-color: white;
}

.btn {
  position: relative;
}
.btn a {
  position: absolute;
  background-color: #24A3FF;
  color: white;
  bottom: 50px;
  left: 85px;
  text-align: center;
  padding: 5px 80px;
  border-radius: 12px;
}

.publications_bg {
  background-color: #F5F5FA;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
}

.publications_gridCenter {
  display: grid;
  grid-template-columns: 413px;
  grid-template-rows: 450px 240px;
  grid-column-gap: 0px;
  grid-row-gap: 40px;
}

.gridCenter_item {
  grid-area: 1/1/2/2;
  background-color: white;
}

.gridCenter_item_second {
  grid-area: 2/1/3/2;
  background-color: white;
}

.publications_gridRight {
  display: grid;
  grid-template-columns: 413px;
  grid-template-rows: 470px 210px;
  grid-column-gap: 0px;
  grid-row-gap: 40px;
}

.gridRight_item {
  grid-area: 1/1/2/2;
  background-color: white;
}

.gridRight_item_second {
  grid-area: 2/1/3/2;
  background-color: white;
}

.publications {
  justify-content: space-between;
}
.publications p {
  margin: 0;
  padding: 0 0 20px 20px;
}
.publications h5 {
  margin: 0;
  padding: 20px 0 10px 20px;
}
.publications div {
  border-radius: 12px;
}

.grey_line {
  background-color: #CACADB;
  padding: 2px;
}

.line_position {
  max-width: 400px;
  padding-bottom: 20px;
}

.blur {
  background: linear-gradient(180deg, rgba(245, 245, 250, 0) 0%, #F5F5FA 86.5%);
  height: 200px;
  position: absolute;
}

.footer_top_position {
  padding-top: 30px;
  justify-content: space-between;
}

.map_section a {
  padding-left: 50px;
  color: rgb(36, 163, 255);
}

.tel_number {
  padding: 0 27px 0 17px;
}

.top_position {
  color: rgb(36, 163, 255);
}

.publications img {
  padding-bottom: 20px;
}

.publications_bg {
  padding-bottom: 30px;
}

.NAV_FONT :nth-child(4) {
  font-size: 16;
  font-weight: 400;
}
.NAV_FONT :nth-child(5) {
  font-size: 16;
  font-weight: bold;
}
.NAV_FONT li div a {
  color: #B3B3BA;
}

.gray_dot {
  color: gray;
}

.taxes_google {
  font-size: 18px;
  font-weight: 600;
}

.publication_date {
  font-size: 12px;
  font-weight: bold;
  color: #B3B3BA;
}

.FB_img {
  width: 80%;
}

.blue_ a {
  color: rgb(36, 163, 255);
}

.copyright_company {
  color: #B3B3BA;
}

.image_cont {
  justify-content: center;
}
.image_cont div {
  width: 360px;
}

.our_abilities {
  padding-top: 70px;
}

.our_amenities_page {
  padding-top: 40px;
}

.language_changer_am_page {
  font-size: 12px;
  font-weight: bold;
}

.adress_amnts_page {
  font-size: 16px;
  font-weight: 400;
}

.tel_call_amnts_page {
  font-size: 16px;
  font-weight: bold;
}

.address_footer {
  font-size: 16px;
  font-weight: medium;
}

.footer_position_amnts_page {
  padding: 30px 0;
}

.fonts_footer a {
  font-size: 16px;
}
.fonts_footer p {
  font-size: 16px;
}

.nav_position {
  padding-bottom: 50px;
}

.It_and_Ecomerce {
  flex-direction: column;
  align-content: center;
}
.It_and_Ecomerce div h4, .It_and_Ecomerce div p {
  text-align: center;
}
.It_and_Ecomerce div p {
  color: white;
  font-size: 21px;
  font-weight: 300;
}
.It_and_Ecomerce div h4 {
  background-image: linear-gradient(53deg, rgb(239, 128, 128) 17%, rgb(240, 20, 90) 100%);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  font-size: 42px;
  font-weight: auto;
}
.It_and_Ecomerce div img {
  padding-bottom: 20px;
}
.It_and_Ecomerce div h4, .It_and_Ecomerce div p, .It_and_Ecomerce div a {
  margin: 0;
}
.It_and_Ecomerce :nth-child(3) p {
  padding: 20px 0;
}

.Ecomerce_btn {
  justify-content: center;
  padding: 40px 0 80px 0;
}
.Ecomerce_btn a {
  background-color: #24A3FF;
  color: white;
  bottom: 50px;
  left: 85px;
  text-align: center;
  padding: 16px 35px;
  border-radius: 12px;
}
.Ecomerce_btn a:hover {
  box-shadow: 0px 0px 10px 1px #24A3FF;
}

.for_img {
  justify-content: center;
}

.gray_line {
  padding: 2px;
  background-color: gray;
}

.column {
  flex-direction: column;
}
.column div h3 {
  color: #F5F5FA;
  padding: 20px 0 30px 0;
  font-size: 24px;
}

.list {
  justify-content: space-between;
}
.list ul {
  list-style: disc;
  color: #F0145A;
}
.list ul p {
  color: #F5F5FA;
  font-size: 18px;
  font-weight: 400;
}

.for_list {
  max-width: 1100px;
}

.fixed_class {
  margin: 0 auto;
}

.list_section {
  padding-bottom: 75px;
}

.keyboard_added {
  background: url(../images/Cover_keyboard.png) no-repeat center top, linear-gradient(230deg, rgb(51, 51, 101) 79%, rgb(101, 62, 114) 100%);
  background-size: contain;
}

.color_text_aboutPage a {
  color: #24A3FF;
  position: relative;
}
.color_text_aboutPage a:hover {
  color: #F0145A;
}
.color_text_aboutPage a::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  background-color: #F0145A;
  bottom: -3px;
  transition: 0.5s;
}

a:hover::before {
  width: 100%;
}

.for_unusual_p {
  max-width: 1095px;
  margin: 0 auto;
}

.team_list {
  justify-content: space-between;
}
.team_list ul {
  padding: 0 0 0 20px;
  margin: 0;
}
.team_list ul li p {
  margin: 0;
}

.law_amenities {
  justify-content: space-between;
}
.law_amenities h3 {
  background-image: linear-gradient(53deg, rgb(239, 128, 128) 17%, rgb(240, 20, 90) 100%);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  padding-bottom: 20px;
}
.law_amenities p {
  margin: 0;
  padding-bottom: 20px;
}

.paragraph_numbers {
  background-image: linear-gradient(53deg, rgb(239, 128, 128) 17%, rgb(240, 20, 90) 100%);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  font-size: 36px;
  font-weight: bold;
}

.team_list_item {
  justify-content: space-between;
}

.paragraph_properties :last-child {
  padding-bottom: 0;
}
.paragraph_properties p {
  font-size: 21px;
}

.bg_team {
  background-image: url(../images/bg_team.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.bg_team div {
  text-shadow: rgba(40, 40, 86, 0.8) 1px 1px 20px;
}
.bg_team div h2 {
  text-transform: uppercase;
  font-size: 96px;
  font-weight: bold;
  color: #F5F5FA;
  padding: 200px 257px;
  letter-spacing: 63px;
}

.team_img {
  justify-content: center;
  align-content: center;
}

.bottom_position_sect {
  padding-bottom: 100px;
}

.sect_position {
  padding: 80px 0 90px 0;
}

.condition {
  justify-content: space-between;
}
.condition h4 {
  background-image: linear-gradient(53deg, rgb(239, 128, 128) 17%, rgb(240, 20, 90) 100%);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  font-size: 36px;
  font-weight: bold;
}
.condition p {
  padding-right: 40px;
  font-size: 21px;
}

.mostly_gray_bg {
  background-color: #F5F5FA;
}

.achievments {
  justify-content: center;
}
.achievments div p {
  padding: 30px 0;
  font-size: 14px;
  letter-spacing: 1px;
  color: #323264;
  font-weight: bold;
}

.carousel_list {
  padding-bottom: 30px;
  justify-content: space-between;
}
.carousel_list div {
  background-color: white;
  border-radius: 12px;
}

.carousel_list_item {
  justify-content: center;
}

.carousel_list_cont {
  max-width: 1320px;
}

.carousel_dots {
  flex-direction: row;
  justify-content: center;
  padding-right: 10px;
  padding-bottom: 30px;
}
.carousel_dots li {
  padding-right: 15px;
}

.blue_clr {
  color: #24A3FF;
}

.team_nav_position {
  padding-bottom: 80px;
}

.centered {
  justify-content: center;
}

.hero_tag {
  background-image: linear-gradient(53deg, rgb(239, 128, 128) 17%, rgb(240, 20, 90) 100%);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  font-size: 42px;
  font-weight: bold;
}

.team_article {
  padding-bottom: 80px;
}

.btn_team a {
  border-radius: 70%;
  background-color: #F5F5FA;
  padding: 10px 16px;
}

.pre-classes p {
  margin: 0;
}

.btn_team {
  padding: 35px 0 0 120px;
}

.p_position :nth-child(1) {
  padding: 20px 0 5px 0;
  font-size: 18px;
}
.p_position :nth-child(2) {
  font-size: 16px;
  color: #B3B3BA;
}

.member_list {
  padding-right: 19px;
}

.list_bottom_pad {
  padding-bottom: 40px;
}

.all_team_members {
  padding-bottom: 60px;
}

.footer_bg {
  background-color: #F5F5FA;
}

.footer_position {
  padding-bottom: 30px;
}

.down_shift {
  padding-bottom: 30px;
}

.width_1100_container {
  max-width: 1200px;
}

.row {
  justify-content: center;
}

.coloumn {
  flex-direction: column;
}

.links {
  padding-bottom: 20px;
}
.links :nth-child(1) p {
  color: #B3B3BA;
  font-size: 16px;
}
.links :nth-child(2) {
  padding: 0 5px;
}

.Alexander_Kac_member {
  justify-content: center;
}
.Alexander_Kac_member h3, .Alexander_Kac_member p, .Alexander_Kac_member a {
  margin: 0;
}
.Alexander_Kac_member p {
  font-size: 18px;
  font-weight: 400;
}
.Alexander_Kac_member h3 {
  color: #323264;
  font-size: 14px;
  letter-spacing: 1px;
  padding-bottom: 10px;
}

.name_article {
  background-image: linear-gradient(53deg, rgb(239, 128, 128) 17%, rgb(240, 20, 90) 100%);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  font-size: 42px;
  font-weight: 700;
}

.fixed {
  border-radius: 0;
}

.long_paragraph {
  padding: 40px 0;
}

.uni_name {
  padding-bottom: 40px;
}

.top_shift {
  padding-top: 40px;
}

.image_box {
  padding-right: 40px;
}

.main_position {
  padding-bottom: 80px;
}

.pad_added {
  padding-bottom: 80px;
}

.map_pages :nth-child(1) {
  font-size: 21px;
  font-weight: 400;
  padding: 130px 0 20px 0;
  margin: 0;
}
.map_pages :nth-child(2) {
  padding-right: 410px;
}
.map_pages :nth-child(4) {
  font-size: 21px;
  padding-bottom: 40px;
  color: #24A3FF;
}
.map_pages :nth-child(3) {
  font-size: 21px;
  color: black;
  padding: 40px 0 20px 0;
}
.map_pages :nth-child(6) {
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 16px;
  color: #24A3FF;
  padding-top: 20px;
  position: relative;
}

.FB_img {
  position: absolute;
}

.helper_sect {
  background-color: #F5F5FA;
  border-radius: 12px;
}
.helper_sect h2 {
  background-image: linear-gradient(53deg, rgb(239, 128, 128) 17%, rgb(240, 20, 90) 100%);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  font-size: 32px;
  font-weight: 700;
  padding: 20px;
}
.helper_sect input {
  border-radius: 8px;
  border-color: transparent;
  color: #B3B3BA;
  padding: 10px 357px 10px 10px;
}
.helper_sect :nth-child(2) {
  padding: 0 20px;
}
.helper_sect :nth-child(2) input {
  font-size: 18px;
  line-height: 26px;
}
.helper_sect :nth-child(3) {
  padding: 20px;
}
.helper_sect :nth-child(3) input {
  border-radius: 8px;
  border-color: transparent;
  padding: 11px 357px 143px 10px;
  font-size: 18px;
  line-height: 26px;
}
.helper_sect :nth-child(4) {
  padding: 0 20px;
}
.helper_sect :nth-child(4) p {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 1px;
  color: #B3B3BA;
}
.helper_sect :nth-child(5) {
  padding: 20px;
}
.helper_sect :nth-child(5) input {
  font-size: 18px;
  line-height: 26px;
}
.helper_sect :nth-child(6) {
  padding: 0 20px;
}
.helper_sect :nth-child(6) input {
  font-size: 18px;
  line-height: 26px;
}

.map_above_sect {
  justify-content: space-between;
}

.btn_helper {
  align-self: center;
  padding: 30px 20px;
}
.btn_helper a {
  background-color: #24A3FF;
  color: white;
  bottom: 50px;
  left: 85px;
  text-align: center;
  padding: 15px 80px;
  border-radius: 12px;
}
.btn_helper a:hover {
  box-shadow: 0px 0px 10px 1px #24A3FF;
  transition: 0.5s;
}

.above_map {
  padding-bottom: 80px;
}

.map div iframe {
  width: 100%;
}

.for_width_620 {
  max-width: 620px;
}

.center {
  padding-top: 200px;
}

.popup_page h2 {
  padding-right: 85px;
}

.img_bg {
  background-color: #707093;
}/*# sourceMappingURL=styles.css.map */